{% extends "base.html" %}

{% block content %}
<h1>Корзина
</h1>
<a class="btn btn-success" href="/order" >Заказать</a>


{% for item in cart%}
<div class="col-md6 border rounded">
    <h2>{{item.name}}</h2>
    <img src={{item.photo}} width="256" height="128">
    <p style="font-size:22">{{item.description}}</p>
    <h2>Цена: {{item.price}}</h2>
    <form action="/del_button" method="post">
        <input class="btn btn-danger" type="submit" name="del_button" value="Удалить товар из корзины ({{item.id}})">
    </form>
</div>
{% endfor %}
{% endblock %}